:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
  
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


a {
  text-decoration: none !important;
}


.navbar-nav .nav-link {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    color: #8cc63f !important; 
  }
  
  .navbar-nav .nav-link:hover {
    color: #025A10 !important; 
  }
  
  .navbar-nav .nav-link.active {
    color: #025A10 !important; 
    
  }
  @media (max-width: 991.98px) {
   
    #navbarSupportedContent {
      justify-content: flex-end; 
    }
  }

  #logo-home:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(61%) saturate(799%) hue-rotate(82deg) brightness(89%) contrast(105%);
  }
 
  footer a {
    font-family: 'Fira Sans', sans-serif;
    
  }
  #logo-home:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(61%) saturate(799%) hue-rotate(82deg) brightness(89%) contrast(105%);
  }
  
  #footer-icons{
    filter: brightness(0) saturate(100%) invert(26%) sepia(61%) saturate(799%) hue-rotate(82deg) brightness(89%) contrast(105%);
  }




  .scroll-logo {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .scroll-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .scroll-logo:active {
    transform: scale(0.9);
  }
  
  .scroll-buttons p {
    font-family: "Lato", sans-serif;
    color: #90a955;
    font-weight: 600;
  }
  
  @media (max-width: 800px) {
    .scroll-buttons {
      font-size: 1rem;
    }
  }
  
  /* For mobile devices */
  @media (max-width: 576px) {
    .scroll-buttons {
      font-size: 0.67rem;
    }
  
    .scroll-img {
      width: 40px;
      height: auto;
    }
  
    .scroll-logo {
      width: 20px;
      height: auto;
    }
  }